<div class="container mt-5" d="card">
	<%=  form_with(model: @goal, data: { turbo: false }) do |f|%>

    	<%=render 'goals/error'%>


	<div class="card shadow-sm bg-body rounded">
  		<div class="card-header">
    		Goal Editor
  		</div>
  		<div class="card-body">

		<div>
		<div>
			<label>Title:</label>
		</div>
		<%= f.text_field :title, required: true, minlength: 2, maxlenght: 80, placeholder: 'Title', class: "form-control"%>
		</div>
		<div>
		<div>
			<label>Description:</label>
		</div>
		<%= f.text_area :body, required: true, minlength: 2, maxlenght: 500 ,placeholder: 'Description', class: "form-control"%>
		</div>
		<div>
		<div>
			<label>Due Date:</label>
		</div>
		<%= f.date_field :date_time, class: "form-control"%>
		</div>
		<div>
		<div>
			<label>Priority:</label>
		</div>
		<%= f.select :priority, [["High", "High"], ["Mid", "Mid"], ["Low", "Low"]] , { class: "form form-group form-control" }%>
		</div>
		<br>
		<%= f.button "Create", class: "btn btn-light", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Create..."}%>
		<%= link_to "Cancel", goals_path, class: "btn btn-light"%>
		<%end%>
  		</div>
	</div>
</div>

